@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Trade Gothic LT Std;
    src: url(../assets/font/TradeGothicLTStd-Bold.otf);
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/font/Montserrat-VariableFont_wght.ttf);
}
.checkbox input{
    appearance: none;
    padding: 0;
    margin: 0;
   outline: none;
   cursor: pointer;
}
.checkbox input::after,
.checkbox input::before,
.checkbox input{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background: white;
    
}
.checkbox input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    height: 25px;

}
.checkbox input:checked{
    background: green;
}
.checkbox input:disabled{
    background: red;
    pointer-events: none;
}
#green input{
    background: green;
    pointer-events: none;
}

